name: Pre-Submit Verification

# "This run was triggered by the "push" event, which is unsupported. 
#  Please ensure you are using the "pull_request" event for this workflow."
on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: dependency-review
        uses: actions/dependency-review-action@v2
